.chatbotContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.chatWindow {
  position: relative;
  width: 20rem;
  height: 30rem;
  background: white;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.backgroundGradient {
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  z-index: -1;
  background: linear-gradient(135deg, #7b1fa2, #512da8, #303f9f, #1976d2);
  border-radius: 25px;
  animation: popIn 0.5s ease-out forwards;
}

@keyframes popIn {
  0% {
    transform: scale(0.1) translateY(50px);
    opacity: 0;
    filter: blur(10px);
  }
  85% {
    transform: scale(1.05) translateY(0px);
    opacity: 0.95;
    filter: blur(1px);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    filter: blur(0px);
  }
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #6a5acd #f1f1f1;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.messages::-webkit-scrollbar {
  width: 10px;
}

.messages::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6a5acd, #4169e1);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.messages::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #483d8b, #27408b);
}

.messageContainer {
  display: inline-flex;
  align-items: end;
  width: 100%;
  white-space: pre-wrap;
}

.userMessage,
.assistantMessage {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 5px;
  padding: 0 10px;
  border-radius: 10px;
  background: linear-gradient(135deg, #7b1fa2, #512da8, #303f9f, #1976d2);
  color: white;
  font-size: 0.9rem;
  overflow-wrap: anywhere;
  width: fit-content;
  height: 100%;
  animation: popIn 0.5s ease-out forwards;
}

.userMessage p {
  text-align: right;
}

.userMessage {
  background-color: #f0f0f0;
  justify-content: flex-end;
  margin-left: auto;
  border-bottom-right-radius: 0;
  background: linear-gradient(
    135deg,
    hsl(282, 32%, 51%),
    hsl(258, 35%, 55%),
    hsl(232, 34%, 55%),
    hsl(210, 40%, 65%)
  );
}

.userMessage::before {
  content: "";
  position: absolute;
  bottom: 0%;
  right: -5px;
  height: 30px;
  width: 50px;
  background-color: hsl(210, 40%, 65%);
  clip-path: polygon(45px 20px, 50px 31px, 45px 31px);
}

.assistantMessage {
  margin-right: 20px;
  border-bottom-left-radius: 0;
}

.assistantMessage::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: -5px;
  height: 30px;
  width: 50px;
  background-color: #512da8;
  clip-path: polygon(6px 20px, 6px 30px, 0px 30px);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: inline;
}

.messageText {
  flex-grow: 1;
}

.inputArea {
  display: flex;
}

.inputField {
  flex-grow: 1;
  border-radius: 10px;
  padding: 10px;
  border: none;
  max-width: calc(100% - 90px);
}

.sendButton {
  background: linear-gradient(135deg, #303f9f, #1976d2);
  outline: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin-left: auto;
  cursor: pointer;
  color: #fff;
}

.sendButton:hover {
  outline: 1px solid white;
}

.loader {
  color: #fff;
  text-align: center;
}

.chatButton {
  background: linear-gradient(135deg, #303f9f, #1976d2);
  width: 4rem;
  margin-left: auto;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .chatWindow {
    width: 60vw;
    height: 60vh;
  }
}

.calloutLabel {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  margin-right: 1rem;
}

.calloutLabel span {
  margin-right: 8px;
}
