.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15rem 2rem;
  background: black;
  opacity: 90%;
  color: white;
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19), 0 0rem 0.6rem rgba(0, 0, 0, 0.23);
  gap: 2rem;
}

.imageContainer {
  flex: 0 0 20rem;
  height: 20rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.portrait {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.portrait:hover {
  transform: scale(1.1);
}

.bio {
  flex: 1;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  color: #333;
}

.bioHeader {
  color: #fe6b86;
  font-size: 3rem;
}

.bioText {
  margin-top: 1rem;
  text-align: justify;
  font-size: 2rem;
}
