.chip {
  display: inline-block;
  padding: 5px 10px;
  font-size: 0.9rem;
  color: white;
  border-radius: 25px;
  background-color: #fe6b86;
  margin: 5px;
  transition: background-color 0.3s;
  font-weight: 600;
}

.chip:hover {
  color: #f8bec8;
}

@media (max-width: 768px) {
  .chip {
    font-size: 0.8rem;
  }
}
