.aboutContainer {
  position: relative;
  z-index: 6;
  background: rgb(10, 10, 10);
  padding: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: auto;
}

.aboutContainer::before {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../Assets/Images/SectionStart.png");
  content: "";
  z-index: 6;
}

.aboutContainer::after {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../Assets/Images/SectionEnd.png");
  content: "";
  z-index: 6;
}

.imageContainer {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: 5px solid #fe6b86;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.portrait {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.portrait:hover {
  transform: scale(1.1);
}

.bio {
  width: 70%;
  padding: 2rem;
  border: 3px solid #fe6b86;
  border-radius: 2rem;
}

.bioHeader {
  color: #fe6b86;
  font-size: 2rem;
}

.bioText {
  margin-top: 1rem;
  text-align: justify;
  font-size: 1.3rem;
  display: inline;
  color: white;
}

/* Mobile */
@media (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .imageContainer {
    width: 50%;
    height: 50%;
  }

  .bio {
    width: 90%;
    padding: 1rem;
  }

  .bioHeader {
    font-size: 1.5rem;
  }

  .bioText {
    font-size: 1rem;
  }
}
