.navbar {
  animation: slideDownFadeIn 1.5s ease-out forwards;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 1rem 2rem;
  margin: 1rem 3em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: height 0.75s ease;
}

@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  transition: transform 1.3s ease-in-out;
}

.navItem {
  animation: fadeInAndScale 1.5s ease-out forwards;
  animation-delay: calc(1s + 0.2s * var(--animation-order));
  opacity: 0;
  margin: 0 1rem;
}

@keyframes fadeInAndScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  66% {
    opacity: 0.66;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.navItem p {
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.navItem p:hover {
  color: #fe6b86;
  opacity: 75%;
}

/* Mobile styles */
@media (max-width: 768px) {
  .navbar {
    width: 100vw;
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 0;
    box-sizing: border-box;
  }

  .navList {
    padding: 1rem 2rem;
    width: 30vw;
    flex-direction: column;
    display: none;
    position: absolute;
    opacity: 0;
    right: 0;
    top: 100%;
  }

  .navList.active {
    display: flex;
    opacity: 1;
    flex-grow: 1;
    padding: 1rem 0;
    backdrop-filter: blur(10px);
    transition: transform 1s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: expandOut 1s ease-out forwards;
  }

  @keyframes expandOut {
    0% {
      opacity: 0;
      transform: scaleY(0%);
    }
    100% {
      opacity: 1;
      transform: scaleY(100%);
    }
  }

  .navItem {
    animation: fadeInAndScale 1.5s ease-out forwards;
    animation-delay: calc(0.3s + 0.2s * var(--animation-order));
  }

  .navItem p {
    display: block;
    padding: 12px 10px;
    text-align: center;
  }

  .menuButton {
    margin-left: auto;
    background: none;
    border: none;
    color: #fe6b86;
    font-size: 30px;
    display: block;
    width: fit-content;
    text-align: right;
    padding: 10px 20px;
  }
}
