@font-face {
  font-family: "coolvetica";
  src: url("./Fonts/coolvetica\ rg.otf") format("opentype");
}

.pageBackground {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  z-index: -1;
}

.pageContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pageOverlay {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  overflow: hidden;
  position: absolute;
  opacity: 10%;
  z-index: 4;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.centralImage {
  height: 90%;
  z-index: 3;
  position: relative;
  margin-top: auto;
  opacity: 100%;
  overflow: hidden;
  animation: popAndRise 2s ease-out forwards;
}

@keyframes popAndRise {
  0% {
    transform: translateY(100vh) scale(0.5);
    opacity: 0;
  }
  60% {
    transform: translateY(-10vh) scale(1.2);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.subtitle {
  position: absolute;
  top: 70%;
  font-size: 2vw;
  color: #000;
  z-index: 3;
}

.scrollingTextContainer {
  position: absolute;
  white-space: nowrap;
  width: 100%;
  bottom: 50%;
  transform: translateY(50%);
  mix-blend-mode: overlay;
  overflow: hidden;
  z-index: 1;
}

.scrollingText {
  display: inline-block;
  font-size: 35vw;
  color: #000;
  z-index: 2;
  font-family: "coolvetica", sans-serif;
  animation: scrollRightwards 3000s linear infinite;
}

@keyframes scrollRightwards {
  from {
    transform: translateX(-99%);
  }
  to {
    transform: translateX(0%);
  }
}

.gridBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent; /* This is the base color; change as needed */
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 2px,
    transparent 1px
  );
  background-size: 20px 20px; /* Size of your grid cells */
}
