.navbar {
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 1rem 2rem;
  margin: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: height 0.3s ease;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-in-out;
}

.navItem {
  margin: auto;
  padding: 0.5rem 1rem;
}

.navItem a {
  text-decoration: none;
}

.navItem p {
  font-size: 1.1rem;
  color: #fe6b86;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navItem p:hover {
  color: black;
  opacity: 75%;
}

/* Mobile styles */
@media (max-width: 768px) {
  .navbar {
    width: 100vw;
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 0;
    box-sizing: border-box;
  }

  .navList {
    padding: 1rem 2rem;
    width: 100vw;
    flex-direction: column;
    display: none;
    transform: translateY(-20px);
    opacity: 0;
  }

  .navList.active {
    display: flex;
    transform: translateY(0);
    opacity: 1;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 1rem 0;
  }

  .navItem {
    width: 100%;
    text-align: center;
  }

  .navItem p {
    display: block;
    width: 100%;
    padding: 12px 10px;
  }

  .menuButton {
    margin-left: auto;
    background: none;
    border: none;
    color: #fe6b86;
    font-size: 30px;
    display: block;
    width: fit-content;
    text-align: right;
    padding: 10px 20px;
  }
}
