.widthFillAvailable {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.heightFillAvailable {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexColumnWidthFillAvailable {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.flexHeightFillAvailable {
  display: flex;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}
