.widthFillAvailable {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.heightFillAvailable {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexColumnWidthFillAvailable {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.flexHeightFillAvailable {
  display: flex;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}

.redUnderline,
.purpleUnderline,
.orangeUnderline,
.yellowUnderline,
.greenUnderline,
.blueUnderline,
.pinkUnderline {
  position: relative;
  z-index: 0;
}

.redUnderline::after,
.purpleUnderline::after,
.orangeUnderline::after,
.yellowUnderline::after,
.greenUnderline::after,
.blueUnderline::after,
.pinkUnderline::after {
  transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  bottom: 13.5%;
  z-index: -1;
  height: 0.3em;
  width: 104%;
  left: -1%;
}

.pinkUnderline::after{
    background: linear-gradient(
    65deg,
    #fe6b86 0%,
    #da4b66 100%,
    rgba(255, 209, 0, 0) 100%
  );
}

.blueUnderline::after{
    background: linear-gradient(
    65deg,
    #6b6dfe 0%,
    #604bda 100%,
    rgba(255, 209, 0, 0) 100%
  );
}

.greenUnderline::after{
    background: linear-gradient(
    65deg,
    #6bfe8b 0%,
    #4bda6f 100%,
    rgba(255, 209, 0, 0) 100%
  );
}

.yellowUnderline::after{
    background: linear-gradient(
    65deg,
    #e3fe6b 0%,
    #ccda4b 100%,
    rgba(255, 209, 0, 0) 100%
  );
}

.orangeUnderline::after{
    background: linear-gradient(
    65deg,
    #fedc6b 0%,
    #dab44b 100%,
    rgba(255, 209, 0, 0) 100%
  );
}

.purpleUnderline::after{
    background: linear-gradient(
    65deg,
    #bc6bfe 0%,
    #a64bda 100%,
    rgba(255, 209, 0, 0) 100%
  );
}

.redUnderline::after{
    background: linear-gradient(
    65deg,
    #fe6b6b 0%,
    #da4b4b 100%,
    rgba(255, 209, 0, 0) 100%
  );
}