.projectsPage {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  max-width: 100vw;
}

.projectsList {
  width: 50%;
  height: auto;
}

.projectsList div:first-child .projectItem {
  border-top-left-radius: 20px;
}

.projectsList div:last-child .projectItem {
  border-bottom-left-radius: 20px;
}

.projectItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background: linear-gradient(
    145deg,
    rgba(35, 166, 213, 0.1) 0%,
    rgba(231, 60, 126, 0.1) 100%
  );
  color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.projectItem h3 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}

.projectImage {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.projectImage img {
  object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  transition: opacity 1s ease-in-out;
}

.projectsLeft {
  position: relative;
  width: 50%;
  height: 100%;
}
