.projectsPage {
  display: flex;
  flex-direction: row;
  height: 40vw;
  width: 100%;
  align-items: flex-start;
  padding: 2rem 0rem 0 0;
  gap: 20px;
  overflow: hidden;
  align-items: center;
}

.projectsList {
  height: auto;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.projectItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;

  transition: all 0.3s ease-in-out;
}

.projectItemInner {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  outline: 2px solid rgba(10, 10, 10, 0.1);
}

.projectItemTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projectItem h3 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}

.projectImage {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.projectImage img {
  object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 2rem;
  transition: opacity 1s ease-in-out;
}

.projectsLeft {
  position: relative;
  min-width: 40vw;
  height: 40vw;
}

.parallaxEffect {
  position: relative;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.parallaxVisible {
  transform: translateY(-15px);
}
