.projectsContainer {
  background: #150d0f;
  padding-top: calc(100px + 2rem);
  position: relative;
}

.projectsPage {
  display: flex;
  flex-direction: row;
  height: 40vw;
  width: 100%;
  align-items: flex-start;
  padding: 2rem 0rem 0 0;
  overflow: hidden;
  align-items: center;
}

.projectsLeft {
  position: relative;
  min-width: 40vw;
  height: 40vw;
}

.projectsList {
  height: auto;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.projectItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  transition: all 0.3s ease-in-out;
  padding: 1rem 1.5rem;
  color: white;
  border-bottom: 5px solid #f0f0f0;
}

.projectItem:first-child {
  border-top: 5px solid #f0f0f0;
}

.projectItemTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projectItemDescription {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 0;
}

.projectItemDescriptionVisible {
  max-height: 500px;
  opacity: 1;
}
.projectItem h3 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}

.projectImage {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.projectImage img {
  object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: opacity 1s ease-in-out;
}

@keyframes slideDown {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 500px;
    opacity: 1;
  }
}
